---
import GuestLayout from "../layouts/GuestLayout.astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<GuestLayout title="Servicios">
    <div class="services_banner flex justify-center items-center mb-20">
		<div class="container md:w-1/2 mx-auto px-5 md:px-0 text-center">
			<h1 class="text-6xl font-anton tracking-widest">Servicios</h1>
			<p class="text-2xl">Descubre la diferencia entre un simple corte y una experiencia de estilo única en nuestraía, donde cada detalle cuenta y tu imagen es nuestra prioridad.</p>
		</div>
	</div>

    <div class="container mx-auto p-5">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-5">
            <ServiceCard>
                <div class="w-full h-60">
                    <img src="/img/services/corte.jpg" alt="imagen de corte" class="w-full h-full object-cover object-center">
                </div>
                <div class="p-5">
                    <h1 class="text-xl font-anton tracking-widest">Cortes</h1>
                    <p>Renueva tu estilo con nuestros cortes de pelo precisos y modernos, diseñados para resaltar tu mejor versión.</p>
                </div>
            </ServiceCard>

            <ServiceCard>
                <div class="w-full h-60">
                    <img src="/img/services/perfilado_barba.png" alt="imagen de corte" class="w-full h-full object-cover object-center">
                </div>
                <div class="p-5">
                    <h1 class="text-xl font-anton tracking-widest">Perfilado de barba</h1>
                    <p>Logra una barba impecable con nuestro servicio de perfilado, donde cada trazo es cuidado con precisión para realzar tu estilo y personalidad.</p>
                </div>
            </ServiceCard>

            <ServiceCard>
                <div class="w-full h-60">
                    <img src="/img/services/cejas.jpeg" alt="imagen de corte" class="w-full h-full object-cover object-top">
                </div>
                <div class="p-5">
                    <h1 class="text-xl font-anton tracking-widest">Cejas</h1>
                    <p>Realza tu mirada con nuestro servicio de perfilado de cejas, diseñado para definir y equilibrar tu rostro con un toque de elegancia.</p>
                </div>
            </ServiceCard>

            <ServiceCard>
                <div class="w-full h-60">
                    <img src="/img/services/design.jpeg" alt="imagen de corte" class="w-full h-full object-cover object-top">
                </div>
                <div class="p-5">
                    <h1 class="text-xl font-anton tracking-widest">Diseños</h1>
                    <p>Exprésate con nuestros innovadores diseños de cabello, donde la creatividad no tiene límites y tu estilo se convierte en una obra de arte.</p>
                </div>
            </ServiceCard>
        </div>
    </div>
</GuestLayout>